.body {
    border: 1px solid black;
    height: 100vh;
    flex: 0.8;
    padding: 30px;
    color: white;
    background: linear-gradient(rgb(91,87,115),rgba(0,0,0,1));
    overflow-y: overlay;
}

.body ::-webkit-scrollbar{
    display: none;
}

.infos{
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.infotext{
    flex: 1;
}

.infos >img {
    height: 20vw;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0,0,0,0.5);
}

.infotext > p{
    font-size: 14px;
}

.infotext > h2{
    font-size: 48px;
    margin-bottom: 10px;
}

.songs{
    display: flex;
    align-items: center;
}

.songs > .MuiSvgIcon-root{
    margin-right: 20px;
}

.body__shuffle{
    font-size: 80px !important;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: -5px;
}

.body__shuffle:hover{
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

/* .pi , .fi , .mi{
    margin: 10px
} */

.mi{
    margin-left: 15px;
}