.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login >img{
    width: 900px;
    height: 250px;
    margin-bottom: 300px;
}

.login >a {
    padding: 10px;
    text-decoration: none;
}

.login >a >button{
    background-color: #1db954;
    border-radius: 99px;
    color: white;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 400px;
}

.credit {
    color: white;
    margin-top: -340px;
    margin-left: 470px;
    opacity: 0.3;

}

.loginbutton:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
