.sidebaroption{
    display: flex;
    align-items: center;
    color: grey;
    height: 40px;
    cursor: pointer;
    transition: 200ms color ease-in;
}

.sidebaroption:hover{
    color: white;
}

.sidebaropticon{
    padding: 0px 10px;
}