.sidebar{
    border: 1px solid black;
    height: 100vh;
    min-width: 230px;
    flex: 0.2;
    color: white;
    padding: 0px 10px;
    background: #040404;
}

.logo{
    object-fit: contain;
    height: 75px;
    width: 170px;
    padding: 10px;
    margin-right: auto;

}

.sidebar >hr {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #282828;
}

.playlisttitle{
    margin-left: 10px;
    padding: 5px;
    font-size: 15px;
}